@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300&display=swap");

#heading {
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 120px;
}

.opt {
  background-color: purple;
  display: block;
  margin: auto;
  color: lavender;
  font-family: "Kiwi Maru", serif;
  width: 300px;
  height: 40px;
  margin-top: 50px;
  margin-bottom: 90px;
  border: none;
  border-radius: 20px;
  transition-property: all;
  transition-duration: 0.8s;
  transition-delay: 0.2s;
}

.opt:hover {
  background-color: rgb(232, 177, 255);
  color: purple;
}
